@{
    ViewData["Title"] = "Moderator - dashboard";
}

<div class="main">
    <h1>Welkom op de ZMDH-Moderator dashboard</h1>
    <div class="sred-line"></div>

    <div class="cards-container">

        <a href="/identity/Account/Register">
            <div class="c-item">
                <div class="c-title">Hulpverlener toevoegen</div>
                <img src="/Images/client-list.png" alt="lijst van clienten icon">
            </div>
        </a>

        <a href="/moderator/dashboard">
            <div class="c-item">
                <div class="c-title">Prive chats</div>
                <img src="/Images/priveChat.png" alt="lijst van clienten icon">
            </div>
        </a>

        <a href="/moderator/dashboard">
            <div class="c-item">
                <div class="c-title">Zelfhulpgroep</div>
                <img src="/Images/groepChat.png" alt="lijst van clienten icon">
            </div>
        </a>


    </div>

    <div class="cards-container-3">
        <a href="/moderator/dashboard">
            <div class="c-item">
                <div class="c-title">Zelfhulpgroep verzoeken</div>
                <img src="/Images/groepVerzoek.png" alt="lijst van clienten icon">
            </div>
        </a>

        <a href="/moderator/dashboard">
            <div class="c-item">
                <div class="c-title">Zelfhulpgroep aanmaken</div>
                <img src="/Images/plus.png" alt="lijst van clienten icon">
            </div>
        </a>
    </div>
</div>