@{
    ViewData["Title"] = "Aanmelden";
}

<style>
.aanmelden-link{
    color:#FF4A88 !important;
    font-weight: bold;
}
</style>

<div id="a-section-1">
    <h1>Aanmelden</h1>
    <div class="container">
        <h2>Hoe meld ik mij aan?</h2>
        <p>
            Meerderjarige(16 jaar of ouder) kunnen zichzelf aanmelden via het contactformulier, indien het gaat om een aanmelding
            van een minderjarige kan een ouder of voogd de aanmelding doen bij het daarvoor geschikte aanmeldformulier.
            Wij zullen zo snel mogelijk met jou contact opnemen om je verder te informeren van de wachttijden en wanneer we een
            intakegesprek samen met jou kunnen inplannen.
        </p>

        <a asp-controller="AanmeldForm" asp-action="Create" >Klik hier om aan te melden</a>

        <div class="grey-line"></div>

        <h2>Hoe kan ik chatten met een hulpverlener?</h2>
        <p>
            Chatten met een hulpverlener gaat vrij makkelijk. Tijdens de intakegesprek wordt de juiste hulpverlener voor jou beschikbaar gesteld om je te behandelen.
            Vervolgens krijg je van ons een code waarmee je een chat kan beginnen met de hulpverlener. Je kan 24/7 berichten naar de hulpverlener sturen, deze zullen zo 
            snel mogelijk beantwoord worden tijdens de werktijden van de hulpverlener.

        </p>

        <div class="grey-line"></div>

        <h2>Hoe kan ik deelnemen aan een groepchat?</h2>
        <p>
            Als je wilt deelnemen aan een groepschat dan kan dat geheel makkelijk gedaan worden na toestemming van de hulpverlener. Hierna wordt je toegevoegd aan de groep die
            voldoet aan de eisen die jij wilt, daarbij gaat het om de juiste leeftijdsgenoten en de behandelings categorie, deelnemen aan deze chats is alleen mogelijk tijdens
            de werktijden van de moderators zodat er toezicht gehouden kan worden terwijl er gechat wordt.
        </p>
        
    </div>
</div>