p{
    font-size: 15px;
}

#section-1{
    padding:50px 0;
}

#section-1 h1{
    font-size: 25px;
    color: #0055A2;
}

.carousel-item{
    width:100%;
    height:40vh;
}

.text-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4A88;
    height:35px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#section-2{
    padding:20px 30px;
    background-color:white;
    width:100%;
    box-shadow: 3px 3px 20px #0000000d;
    display: flex;
    flex-direction: column;
}

#section-2 h2{
    color:#0055A2;
    font-size:25px;
}


#section-2 a{
    background-color: #0055A2;
    color:white;
    border-radius: 10px;
    border:none;
    padding: 8px 20px;
    margin-right: auto;
}

#section-3{
    padding: 50px 30px;
    
}

#section-3 h2{
    margin-bottom:15px;
    color:#0055A2;
    font-size:25px;
}

.s3-group{
    display: flex;
    justify-content: space-between;
}

.s3-group .box{
    width:45%;
    background-color: #0055A2;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #0000000d;
}

.box{
    color:white;
}

.box p{
    font-size:14px;
    text-align: center;
}
 
.box h3{
    text-align: center;
    font-size:25px;
    margin-bottom:15px;
}

.wide-box{
    margin-top:50px;
    background-color: #0055A2;
    padding: 20px 50px;
    border-radius: 10px;    
    box-shadow: 3px 3px 20px #0000000d;
}

.wide-box-group{
    margin-top:30px;
    display: flex;
}

.wide-box h3{
    color:white;
    text-align: center;
}

 .box-p h4{
    color:#FF4A88;
    text-align: center;
    font-size:18px;
 }

 .box-p{
     padding:10px;
     width:33%;
 }

 .box-p p{
     font-size: 14px;
     color:white;
     text-align: center;
 }

